#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]

#RewriteLog "/log/rewrite.log"

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Routes publiques --------------------------------


    # ROUTE PAR DEFAUT:
        # le [QSA] empeche apache de remplacer $1 par "index.php"
        RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]


#--------------------------------------------------
#RewriteRule ^(.*)$ index.php [L]
